version: '3.4'

networks:
  overlay:

volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local
  nginx_letsencrypt:
    driver: local
  backend_logs:
    driver: local
  device_server_logs:
    driver: local

services:
  nginx:
    image: jonasal/nginx-certbot:latest
    container_name: bis-nginx
    restart: unless-stopped
    environment:
      - CERTBOT_EMAIL=pgadmin@bis.com
    ports:
      - 80:80
      - 443:443
    networks:
      - overlay
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/user_conf.d/byys.conf
      - nginx_letsencrypt:/etc/letsencrypt

  worker-frontend:
    image: bis-worker-frontend:latest
    restart: unless-stopped
    networks:
      - overlay

  admin-frontend:
    image: bis-admin-frontend:latest
    restart: unless-stopped
    networks:
      - overlay

  backend:
    image: bis-backend:latest
    container_name: bis-backend
    restart: unless-stopped
    environment:
      - JAVA_OPTIONS=-Xmx512m -Xmx2g
      - SPRING_DATASOURCE_URL=jdbc:postgresql://bis-postgresql:5432/postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    networks:
      - overlay
    volumes:
      - backend_logs:/logs

  device-server:
    image: bis-device-server:latest
    container_name: bis-device-server
    restart: unless-stopped
    environment:
      - JAVA_OPTIONS=-Xmx512m -Xmx2g -DdataSource.serverName=bis-postgresql -DdataSource.password=postgres
    ports:
      - 54321:54321
    networks:
      - overlay
    volumes:
      - device_server_logs:/logs

  postgres:
    image: postgres:12
    container_name: bis-postgresql
    restart: unless-stopped
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - overlay
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: bis-pgadmin
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=pgadmin@bis.com
      - PGADMIN_DEFAULT_PASSWORD=pgadmin
    ports:
      - 5433:80
    networks:
      - overlay
    volumes:
      - pgadmin_data:/var/lib/pgadmin
